content/blog/post014-your-first-n8n-workflow-weather-forecast-via-telegram/weather-forecast-telegram.json
{
  "name": "Weather Forecast via Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Vienna"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🌤 Weather in {{ $json.name }}:\n🌡 Temperature: {{ $json.main.temp }}°C (feels like {{ $json.main.feels_like }}°C)\n💧 Humidity: {{ $json.main.humidity }}%\n📝 {{ $json.weather[0].description }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 0],
      "credentials": {
        "telegramApi": {
          "id": "PASTE_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
